<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        body{
            height: 100vh;
        }.center{
            margin: auto;
        }a{
            margin-top: 1.5%;
        }.form-items{
            margin: 1.5% 0.5% 1.5% 0.5%;
        }label{
            font-weight: bold;
        }
    </style> 
</head>
<body>
    <div class="card center " style="width: 18rem; height: auto;">
        <div class="card-body">
            <form action="/changePassword" method="post" class="form-control form-control-sm">
                <label class="card-title form-items" for="username">Sign up</label>
                <input type="text" placeholder="username" name="usern" required class="form-control form-control-sm form-items">
                <input type="password" placeholder="password" name="pass" required class="form-control form-control-sm form-items">
                <button class="form-control btn btn-warning text-body form-items" type="submit">Sign up.</button>
            </form>
            <div class="d-flex flex-row justify-content-flex-start">
                <a href="./login" class="btn btn-warning text-body card-link p-2">Login</a>
                <%= us %>
            </div>
        </div>
    </div>
</body>
</html>